@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 400;
}

body {
    overflow-x: hidden;
}

nav {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 30px;
}

header {
    width: 100%;
    height: 99vh;
    background-color: black;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
}

nav ul {
    color: white;
    display: flex;
    justify-content: space-around;
}

#logo {
    width: 120px;
    height: 80px;
    position: relative;
}

#logo span {
    font-family: "Aladin", system-ui !important;
    color: white;
    font-size: 3rem;
}

#logo p {
    position: absolute;
    top: 45px;
    left: 8px;
    font-size: 1.4rem;
    color: #DE1313E5;
}

#nav-item {
    gap: 80px;
    width: 800px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#nav-item li {
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-transform: uppercase;
}

#nav-item a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

#icon {
    width: 75px;
    font-size: 1.3rem;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#hero-section {
    position: absolute;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 120vh;
    background-color: #000;
}

#hero-section img {
    width: 756.23px;
    height: 550px;
    position: relative;
    top: 238px;
    left: -152px;
    object-fit: contain;
}

.heading h1 {
    font-family: 'Arial Black', 'Helvetica', sans-serif;
    font-size: 130px;
    line-height: 156px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-transform: uppercase;
}

.heading {
    z-index: 0;
    position: relative;
    width: 900px;
    width: 599px;
    top: 138px;
    left: 108px;
}

#right {
    position: absolute;
    width: 250px;
    height: 335px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 138px;
    left: 1222px;
}

.color {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.color h3 {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    margin-right: 40px;
}

.color .buttons {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    margin-right: -200px;

}

.color .buttons button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
}

.yellow {
    background: yellow;
}

.white {
    background: white;
}

.red {
    background: red;
}

.size {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.size h3 {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.size .buttons button {
    width: 63px;
    font-size: .75rem;
    background: #000;
    height: 30px;
    color: white;
    border: 2px solid white;
}

.cart {
    position: absolute;
    bottom: 30px;
    right: -107px;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: -70px;
    margin-top: 100px;
}

.price {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color: white;
}

.weight {
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    color: white;
}

.cart button {
    border: none;
    height: 50px;
    font-size: 1.3rem;
    font-weight: 400;
    background-color: #DD1212;
    color: white;
}

.images {
    border: 2px solid brown;
    padding-left: 120px;
    
}

.images img {
    padding-left: 40px;
    width: 268px;
    height: 228px;
}


/* CUSTOMIZE START  */
.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    gap: 50px;
}

.head {
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    border-bottom: 1px solid gray;
    width: 1160px;
    margin-left: 140px;
    text-align: center;
    margin-top: 80px;
}


.carousal-container {
    overflow: hidden;
    width: 1061px;
    height: 16.563rem;
    display: flex;
}

.track-carousal {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 80px;
}

.track-carousal img {
    width: 264px;
    height: 265px;
    flex: 0 0 300px;
}

.track-carousal li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container button {
    transform: translateY(-50%);
    width: 46px;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Discrition start  */

.discription-container {
    width: 956px;
    height: 516px;
    margin-top: 80px;
    margin-left: 108px;
}

#discription-anchor,
#specs-anchor {
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 50px;
    cursor: pointer;
}

#discription-anchor,
#specs-anchor:hover {
    border-bottom: 2px solid #DD1212;
    transform: all 1s ease-in-out;
}

#specs-anchor {
    width: 100px;
    margin-left: 40px;
}

.anchor {
    margin-bottom: 50px;
}

.discription-container span {
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
    width: 528px;
}

.discription-container p {
    font-size: 27px;
    font-weight: 300;
    line-height: 42px;
}

.spec-content {
    display: none;
}


/* Discription end */

.main-container {
    margin-top: 170px;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top {
    width: 366px;
    height: 63px;
    background: #DD1212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top p {

    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
}

.bottom {
    gap: 80px;
    width: 80%;
    height: 571px;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.left img {
    width: 366px;
    height: 270px;
}

.mid img {
    width: 366px;
    height: 571px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.right img {
    width: 366px;
    height: 270px;
}

/* footer start  */

footer {
    margin-top: 90px;
    width: 100%;
    height: 426px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer {
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.one {
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.one p{
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

.two {
    width: 164px;
    height: 200px;
}
.two span{
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;

}
.two p{
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}
.three {
    width: 176px;
}
.three span{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
}
.three p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}
.four {
    width: 249px;
}
.four span{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
}
.four p{
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}